<table class="table table-hover">
<tr>
<th>Event Name</th>
<th>Event Location</th>
<th>Event Date</th>
<th>Event Created on</th>
</tr>
<tr>
<th><%= @event.name %></th>
<th><%= @event.Location %></th>
<th><%= @event.Date %></th>
<th><%= @event.created_at %></th>
</tr>
</table>

