<table class="table table-hover">
<tr>
<th>Event Name</th>
<th>Event Location</th>
<th>Event Date</th>
<th>Event Created on</th>
</tr>
<tr>
<th><%= event.name %></th>
<th><%= @eventDetail.Location %></th>
<th><%= @eventDetail.Date %></th>
<th><%= @eventDetail.created_at %></th>
</tr>
</table>